<!DOCTYPE html>
<html lang="en">
<head>
    <title>Namoz vqtlari</title>
</head>
<body>
     <h1>Namoz vaqtlari</h1>
     Bomdod: {{tong}}
     Quyosh: {{quyosh}}
     Peshin: {{peshin}}
     Asr: {{asr}}
     Shom: {{shom}}
     Xufton: {{xufton}}
</body>
</html>
xafta = {"kr":{
    "Душанба": 'Душанба', 'Сешанба': 'Сешанба', 'Чоршанба': 'Чоршанба', 'Пайшанба': 'Пайшанба',
                'Жума': "Жума", 'Шанба': 'Шанба', 'Якшанба': 'Якшанба'
        },

        "uz":{
            "Душанба": 'Dushanba', 'Сешанба': 'Sеshanba', 'Чоршанба': 'Chorshanba', 'Пайшанба': 'Payshanba',
                        'Жума': "Juma", 'Шанба': 'Shanba', 'Якшанба': 'Yakshanba'
        },

        "kr":{
            "Душанба": 'Душанба', 'Сешанба': 'Сешанба', 'Чоршанба': 'Чоршанба', 'Пайшанба': 'Пайшанба',
                        'Жума': "Жума", 'Шанба': 'Шанба', 'Якшанба': 'Якшанба'
        }
    }